@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Marcellus&subset=latin,latin-ext);

$colorWhite : #ffffff;
$colorGrey : #9b9a98;
$colorDarkGrey : #333333;
$colorBlack : #000000;
$colorRed : #a96c64;

$animDuration : 0.5s;

@keyframes bgAnim {
  0% {
    top: 0;
  }

  40% {
    top: -25px;
  }

  60% {
    top: -25px;
  }

  100% {
    top: 0;
  }
}

@keyframes carAnim {
  0% {
    right: 0;
    left: 0;
  }

  40% {
    right: 15px;
    left: 15px;
  }

  60% {
    right: 15px;
    left: 15px;
  }

  100% {
    right: 0;
    left: 0;
  }
}


[data-icon]{
    //max-width:150px;
    width:150px;
    position:relative;
    cursor:pointer;
    &:before{
        display:block;
        content:'';
        width:100%;
        padding-top:100%;
        background:url(../img/icon.png) center center no-repeat;
        background-size:cover;
        box-shadow:0 0 20px transparentize($colorBlack, 0.2);
        border-radius:50%;
        border:1px solid $colorDarkGrey;
    }
    &[data-icon*=hamburger]{
        .icon{
            display:block;
            background:$colorWhite;
            width:50%;
            padding-top:8%;
            position:absolute;
            left:25%;
            top:0;
            margin-top:46%;
            box-shadow:0 0 5px transparentize($colorBlack, 0.5);
            transition:transform $animDuration ease $animDuration*2;

            &:before,
            &:after{
                display:block;
                content:'';
                background:$colorWhite;
                width:100%;
                height:100%;
                position:absolute;
                left:0;
                top:-175%;
                box-shadow:0 0 5px transparentize($colorBlack, 0.5);
                opacity:1;
                transition-property:top,transform;
                transition-duration:$animDuration;
                transition-timing-function:ease;
                transition-delay:$animDuration*2;
            }
            &:after{
                transition-property:opacity;
                top:175%;
            }
        }
    }
    &[data-icon*=music]{
        &:after{
            font-size:11vw;
            display:block;
            content: "\266A";
            color:$colorWhite;
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            text-shadow:0 0 5px $colorBlack;
            text-align:center;
            line-height:14vw;
        }
    }
    .active &[data-icon*=hamburger]{
        .icon{
            transform:rotate(45deg);
            &:before{
                top:0;
                transform:rotate(90deg);
            }
            &:after{
                opacity:0;
            }
        }
    }
}

html{
   font-size: 62.5%;
}
body{
    background:$colorGrey;
    color:$colorWhite;
    font-family: 'Marcellus', serif;
}
#bg{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
    background:url(../img/bg.jpg) center center no-repeat;
    background-size:cover;
    z-index: 1;
    //animation:5s bgAnim ease-out infinite;
}
#logo{
    position: absolute;
    top:5%;
    right:0;
    bottom:65%;
    left:0;
    overflow:hidden;
    background:url(../img/logo.png) bottom center no-repeat;
    background-size:contain;
    z-index: 2;
}
#car{
    position: absolute;
    top:20%;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
    background:url(../img/car.png) bottom center no-repeat;
    background-size:contain;
    z-index: 3;
    animation:5s carAnim ease-out infinite;
    transform:translateZ(0px);
}
#app{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
    z-index: 4;
}
.section{
    font-size:3rem;
    position:absolute;
    top:0;
    margin-top:10%;
    right:10%;
    bottom:0;
    margin-bottom:10%;
    left:10%;
    background:transparentize($colorBlack, 0.4);
    transition:opacity $animDuration ease;
    opacity:1;
    padding:50px;
    overflow-x:hidden;
    overflow-y:auto;

    .loading &{
        opacity:0;
    }

    h1{
        font-size:6rem;
        padding-bottom:.25rem;
        margin-bottom:3rem;
        border-bottom:3px solid $colorRed;
    }
    p{
        font-size:3rem;
        line-height:4rem;
    }
}
.player{
    transition:margin-top $animDuration ease;
    position:absolute;
    width:100%;
    height:120px;
    top:100%;
    left:0;
    margin-top:0;
    z-index: 5;
    background:$colorDarkGrey;

    .bandcamp{
        position: relative;
        top:0;
        .content{
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            iframe{
                display:block;
                border:0;
                width:100%;
                height:120px;
                max-width:700px;
                margin:0 auto;
            }
        }
    }
    [data-icon]{
        display:block;
        position:absolute;
        margin-top:-14%;
        //width:14%;
        top:-30px;
        left:30px;
    }
    &.active{
        margin-top:-120px;
        .bandcamp{
        }
    }
}
nav{
    transition:left $animDuration ease;
    position:absolute;
    width:100%;
    top:0;
    left:100%;
    bottom:0;
    background:transparentize($colorBlack, 0.2);
    z-index: 6;

    ul{
        padding:20% 20% 20% 25%;
        overflow-y:auto;
        height:100%;
        font-size:5rem;
        position:relative;
        li{
            color:$colorRed;
            list-style:upper-roman outside none;
            text-shadow:0 0 10px $colorWhite;
            a{
                padding:5% 15%;
                margin-left:-15%;
                text-shadow:0 0 10px $colorGrey;
                color:$colorWhite;
                display:block;
                border-bottom:1px solid transparentize($colorGrey, 0.2);
                text-decoration:none;

                &:first-child{
                    border-top:1px solid transparentize($colorGrey, 0.2);
                }
            }
            &:after{

            }
        }
    }
    [data-icon]{
        transition:right $animDuration ease $animDuration;
        display:block;
        position:absolute;
        //width:14%;
        height:0;
        top:30px;
        right:100%;
        margin-right:30px;
    }
    &.active{
        left:0;
        .bt{
            right:0;
        }
    }
}
